.hero-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 150px); /* ← Pevná výška */
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.game-cards {
  display: contents;
}

.game-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

/* javascript classes */

.game-cards img.hidden1 {
  filter: brightness(0);
  background-color: #333;
}

.game-cards img.visible {
  display: visible;
}

.game-cards img.hidden2 {
  background-color: white;
  opacity: 0; /* Obrázek zmizí */
}

.game-cards img.none {
  display: none;
}
